.App {
  min-height: 100vh;
  background-image: linear-gradient(120deg, #83ebdb 0%, #ebfbb0 100%);

  text-align: center;

}

.search-form {
  min-height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-bar {
  width: 50%;
  border: none;
  padding: 10px;
}

.search-button {
  background-image: linear-gradient(to right, #4facfe 0%, #00f2fe 100%);
  padding: 10px 20px;
  color: white;
  border: none;
  cursor: pointer;
}

.recipes {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.add-button {
  display: block;
  position: fixed;
  top: 20px;
  left: 20px;
  background-color: #4caf7a;
  color: #fff;
  width: 60px;
  height: 60px;
  font-size: 50px;
  text-align: center;
  line-height: 58px;
  border-radius: 50%;
  text-decoration: none;
  transition: background-color 0.3s ease;
}

.add-button:hover {
  background-color: #45a049;
}

.dark-blue-text {
  color: #18088d; 
}

